@model List<Models.EF.Menu>


<ul>

    <li>

        <a class="play-icon popup-with-zoom-anim" href="">
            <span class="fa fa-map-marker" aria-hidden="true"></span> Shop Locator
        </a>
    </li>
    <li>
        <a href="#" data-toggle="modal" data-target="#myModal1">
            <span class="fa fa-truck" aria-hidden="true"></span>Track Order
        </a>
    </li>
    <li>
        <span class="fa fa-phone" aria-hidden="true"></span> 001 234 5678
    </li>

    @{
        var session = (UserLogin)(Session[TranKhacHuanFoodShop.Common.CommonConstants.USER_SESSION]);
    }



    @if (session == null)
    {
        
        foreach (var item in Model)
        {
            <li>
                <a id="userLoged" href="@item.Link" target="@item.Target">
                    <span  class="fa fa-unlock-alt" aria-hidden="true"></span> @item.Text
                </a>
            </li>
        }




    }
    else
    {
        <li><i class="fa fa-user"></i> @session.UserName</li>
        <li> @Html.ActionLink("Đăng xuất  ","Logout","User")<i class="fa fa-sign-out"></i> </li>
    }


    @*<li>
            <a href="#" data-toggle="modal" data-target="#myModal2">
                <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign Up
            </a>
        </li>*@
</ul>
