
@model TranKhacHuanFoodShop.Areas.Admin.Data.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Assets/Admin/css/login.css">

</head>
<body>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h1>Đăng Nhập Quản Trị</h1>
        @Html.ValidationSummary(true, null, new { @class = "alert-danger" })
        <div class="inset">
            <p>
                <label for="email">EMAIL ADDRESS</label>
                @Html.TextBoxFor(model => model.UserName, new { @class = "" })
            </p>
            <p>
                <label for="password">PASSWORD</label>
                @Html.PasswordFor(model => model.PassWord, new { @class = "" })
            </p>


            <label>
                @Html.CheckBoxFor(model => model.RememberMe) Remenber Me
            </label>

        </div>
        <p class="p-container">
            <button class="btn btn-success btn-block" type="submit" name="go" id="go" value="Log in">Đăng nhập</button>
        </p>
    }

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>


